.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    top: 10px;
    margin-left: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon-o {
    color: #f1c40f; !important;
}

.fa-sun-o {
    color: #f39c12; !important;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

#darkmode-icons a{
    background-color: #555;
}

/* Tooltip Style */
#darkmode-icons[title] {
    position: relative;
}

/* Tooltip */
#darkmode-icons[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: 40px;
    left: -105%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 0 2px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    transition: opacity 0.2s ease-in-out;
    transition-delay: 0s;
}

#darkmode-icons[title]:not(:hover)::after {
    visibility: hidden;
    opacity: 0;
}
